.modal-container {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.modal {
	position: absolute;
	top: 20%;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	background: var(--modal-bg-color);
	border: 1px solid var(--modal-border-color);
	border-radius: 2px;
}

.modal .content {
	padding: 15px;
}

.modal .buttons {
	padding: 15px;
	padding-top: 0;
	text-align: right;
}

.modal .buttons .button {
	display: inline-block;
	height: 20px;
	margin-left: 10px;
	padding: 0 5px;
	font-size: 12px;
	text-decoration: none;
	color: var(--modal-button-color);
	border-radius: 2px;
	border: 1px solid var(--modal-button-border-color);
}

.modal .buttons .button.button-primary {
	color: var(--modal-button-primary-color);
	border-color: var(--modal-button-primary-border-color);
	font-weight: bold;
}

.modal .buttons .button:active,
.modal .buttons .button:focus {
	background: var(--modal-button-active-bg-color);
}

.modal .buttons .decoy {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}